In [6]:
!pip install pyspark

Requirement already satisfied: pyspark in c:\users\administrateur\anaconda3\lib\site-packages (3.3.1)
Requirement already satisfied: py4j==0.10.9.5 in c:\users\administrateur\anaconda3\lib\site-packages (from pyspark) (0.10.9.5)

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark=SparkSession.builder.appName('Practise').getOrCreate()

In [5]:
spark

In [7]:
dff7=spark.read.csv(
    path="spark.dat",
    sep=";",
    header=True,
    quote='"',
    inferSchema=True,
)


#dff7.show(3,truncate=False)
dff7.columns

#dff7.select(['nomClient','quantiteAchete','prixUnitaire','ChiffreDDD']).show()

from pyspark.sql.window import Window
import pyspark.sql.functions as F
#cette requete permet de savoir les achats les plus anciens en se basant sur la date d'achat et la quantité achetée
dff7=dff7.withColumn("row_number",F.row_number().over(Window.partitionBy(dff7['quantiteAchete']).orderBy(dff7['dateAchat'])))
dff7.select(['idTransaction','nomClient','quantiteAchete','dateAchat','row_number']).show()

+-------------+---------+--------------+-------------------+----------+
|idTransaction|nomClient|quantiteAchete|          dateAchat|row_number|
+-------------+---------+--------------+-------------------+----------+
|      9788460|  Barrett|            12|1970-01-03 00:00:00|         1|
|      2394878|    Grant|            12|1970-01-04 00:00:00|         2|
|      3645136|  Jackson|            12|1970-01-05 00:00:00|         3|
|      5884156|  Frazier|            12|1970-01-07 00:00:00|         4|
|      1560813|     Page|            12|1970-01-09 00:00:00|         5|
|      5833095|  Russell|            12|1970-01-09 00:00:00|         6|
|      8565782|    Booth|            12|1970-01-11 00:00:00|         7|
|      6424499|  Johnson|            12|1970-01-12 00:00:00|         8|
|      2460489|   Garcia|            12|1970-01-13 00:00:00|         9|
|      2985467|   Sutton|            12|1970-01-14 00:00:00|        10|
|      2086909|   Palmer|            12|1970-01-15 00:00:00|        11|
|      4094468|Alexander|            12|1970-01-17 00:00:00|        12|
|      4451790|    Glass|            12|1970-01-17 00:00:00|        13|
|      1699084| Gonzalez|            12|1970-01-19 00:00:00|        14|
|      8194474|   Garcia|            12|1970-01-20 00:00:00|        15|
|      8943043|   Warner|            12|1970-01-20 00:00:00|        16|
|      9033491| Crawford|            12|1970-01-20 00:00:00|        17|
|      9032603|  Burgess|            12|1970-01-21 00:00:00|        18|
|      1823103|   Conley|            12|1970-01-22 00:00:00|        19|
|      9049233|   Mendez|            12|1970-01-23 00:00:00|        20|
+-------------+---------+--------------+-------------------+----------+
only showing top 20 rows

In [24]:
#le chiffre d'affaires par client
dff7=dff7.withColumn("ChiffreDDD",dff7["quantiteAchete"]*dff7["prixUnitaire"])
dff7.show()
#le chiffre d'affaires total
dff7.agg({'ChiffreDDD':'sum'}).show()

+-------------+------------+---------+--------------------+---------------------------+---------------------+-----------------------------+---------------------------+--------------+--------------------+---------------+--------------+------------+-------------------+------------------------------+----------+----------+
|idTransaction|prenomClient|nomClient|        metierClient|plaqueImmatriculationClient|numeroCarteBleuClient|dateExpirationCarteBleuClient|codeSecuriteCarteBleuClient|codeBarProduit|    motDePasseClient|adresseIPClient|quantiteAchete|prixUnitaire|          dateAchat|nomFilialeAyantVendueLeProduit|row_number|ChiffreDDD|
+-------------+------------+---------+--------------------+---------------------------+---------------------+-----------------------------+---------------------------+--------------+--------------------+---------------+--------------+------------+-------------------+------------------------------+----------+----------+
|      1100765|     Anthony| Gonzales| Animal nutritionist|                    GPA 482|     6535053079899126|                        01/28|                        243| 5550967481886|o445cvlh8ydky8x2s...|  115.15.148.46|            31|           8|1970-01-01 00:00:00|               Hernandez Group|         1|       248|
|      4411883|       Kevin|     Mack|Human resources o...|                    MJN 832|     4671624743880699|                        05/23|                        401| 4834270846244|9ksgx3rteozw3kwju...|   96.48.26.115|            31|          42|1970-01-01 00:00:00|          Smith, Bartlett a...|         2|      1302|
|      3612557|      Sharon|     Kirk|Amenity horticult...|                       323F|     2394319933662979|                        12/31|                       5507| 5757213113410|7w4sf1jgx0oxt4fpa...|   73.235.10.39|            31|          25|1970-01-03 00:00:00|                     King-Vega|         3|       775|
|      4086266|     Kathryn|    Smith|             Barista|                    251 OTM|     6566281701855388|                        08/25|                        479| 8236481228363|kxybm7ffxjx6k5ewh...| 108.63.203.232|            31|          13|1970-01-03 00:00:00|                 Goodman Group|         4|       403|
|      4345096|       Laura|  Barnett|Consulting civil ...|                    MZS-200|        4716347365071|                        04/27|                        479| 1974519323563|eik0xm6jvzi8lvc6v...|   136.4.57.195|            31|           4|1970-01-05 00:00:00|                Galvan-Charles|         5|       124|
|      4817897|     Michele|    Davis|Psychologist, cou...|                    3-6717C|     3562721467924838|                        09/31|                        505| 2468015701226|qfmr89engoc5p4mze...|   24.7.206.244|            31|          28|1970-01-06 00:00:00|                  King-Parrish|         6|       868|
|      1474622|       Laura|   Norman|Clinical molecula...|                    27-L349|        4061750693440|                        12/31|                        536| 3337662029481|wt66z8xfh3x5e5q5j...| 166.81.219.159|            31|          28|1970-01-07 00:00:00|                   Brown-Jones|         7|       868|
|      6423445|        Paul|  Salinas|Armed forces logi...|                    KSP 812|     3535486889776943|                        03/23|                        850| 7500998549886|gfqi00ybv86wotmob...|    25.168.8.38|            31|          41|1970-01-07 00:00:00|                    Garcia LLC|         8|      1271|
|      8463276|       Jacob|    Hardy|        Geoscientist|                    HVW 100|     3516377393072015|                        07/31|                        355| 9256016305696|kku2sge3klnadzi55...| 165.199.126.69|            31|          17|1970-01-08 00:00:00|                     Stone LLC|         9|       527|
|       204511|        Lisa| Crawford|    Sports therapist|                    6BO3932|         676279009945|                        07/26|                        259| 8540796717475|31n2g8v1cdmhi3pw6...| 158.116.35.207|            31|          30|1970-01-09 00:00:00|                   Petty-Blair|        10|       930|
|      4663504|      Vickie|  Pearson|Psychologist, pri...|                    VD 1131|        4369451614445|                        09/30|                        493| 6961681819937|6q7uzpcx9ikmktzum...| 70.139.105.249|            31|          33|1970-01-09 00:00:00|                Lester-Barnett|        11|      1023|
|      5098040|      Olivia|   Stuart| Retail merchandiser|                    ZPH 060|     3598370337522758|                        10/25|                        853| 7912980148173|vla7qoomm3qvx7ddj...| 123.17.136.185|            31|          14|1970-01-09 00:00:00|          Nguyen, Mckenzie ...|        12|       434|
|      5590769|      Andrea|    Burke|Social research o...|                    208 VW3|     4000566596510232|                        08/32|                        950| 1581212720522|gscg9ixrm3syo5807...|  185.162.28.88|            31|          50|1970-01-09 00:00:00|                Reese and Sons|        13|      1550|
|      2310510|      Latoya|   Prince|Scientist, resear...|                    SSN-034|       38927096788724|                        10/25|                       9997| 8910249567009|kuqbiywg2w9pr3l7w...| 107.193.73.115|            31|          47|1970-01-10 00:00:00|                    Pierce PLC|        14|      1457|
|      4300883|        John|   Taylor|Commercial/reside...|                    LO5 B3W|      346316144643254|                        02/32|                        700| 6593148223478|el9p1396abxy7hfvr...| 179.81.163.163|            31|          34|1970-01-10 00:00:00|                    Benton LLC|        15|      1054|
|      4912996|       Jimmy|   Jacobs|  Arts administrator|                    035 JWW|     4589632160584968|                        12/24|                        615| 7514391418670|7ah46kpwc7m2d4s4z...|  93.254.252.42|            31|          38|1970-01-12 00:00:00|                 Turner-Taylor|        16|      1178|
|      7661295|     William|    Nolan|   Financial adviser|                    246 PUU|         676249527745|                        11/27|                        617| 6387761960328|zsskgbgx32ceaqa75...| 133.183.85.147|            31|          27|1970-01-13 00:00:00|               Castro and Sons|        17|       837|
|      6997291|        Erin|    Blair|        Psychiatrist|                    34Q A83|      180039597338664|                        06/26|                        859| 3194231734982|h7hv1uf7ozy7e2ns1...| 203.200.40.210|            31|          34|1970-01-14 00:00:00|          Brandt, Thomas an...|        18|      1054|
|       600953|     Gregory|   Clarke|Surveyor, plannin...|                    936-UVO|      344239201522215|                        09/27|                        937| 7621378278674|jcpj4sd2gv1ke1wkv...| 141.250.158.40|            31|          22|1970-01-15 00:00:00|          Graham, Powell an...|        19|       682|
|      1287004|     Jeffrey|   Rivera|      Radio producer|                    149 1YI|       30183928002151|                        03/30|                        443|  345700699179|9pdhh2fp1osu9v9zg...|137.177.148.213|            31|          27|1970-01-16 00:00:00|          Pacheco, Shields ...|        20|       837|
+-------------+------------+---------+--------------------+---------------------------+---------------------+-----------------------------+---------------------------+--------------+--------------------+---------------+--------------+------------+-------------------+------------------------------+----------+----------+
only showing top 20 rows

+---------------+
|sum(ChiffreDDD)|
+---------------+
|    63894693298|
+---------------+

In [13]:
# Verifier si la colonne du chiffre d'affaires ChiffreDDD a été ajoutée.
dff7.columns

+---------------+
|sum(ChiffreDDD)|
+---------------+
|    63894693298|
+---------------+

['idTransaction',
 'prenomClient',
 'nomClient',
 'metierClient',
 'plaqueImmatriculationClient',
 'numeroCarteBleuClient',
 'dateExpirationCarteBleuClient',
 'codeSecuriteCarteBleuClient',
 'codeBarProduit',
 'motDePasseClient',
 'adresseIPClient',
 'quantiteAchete',
 'prixUnitaire',
 'dateAchat',
 'nomFilialeAyantVendueLeProduit',
 'row_number',
 'ChiffreDDD']

In [14]:
#ça permet de voir le type de données dans chaque colonne
dff7.printSchema()

root
 |-- idTransaction: integer (nullable = true)
 |-- prenomClient: string (nullable = true)
 |-- nomClient: string (nullable = true)
 |-- metierClient: string (nullable = true)
 |-- plaqueImmatriculationClient: string (nullable = true)
 |-- numeroCarteBleuClient: long (nullable = true)
 |-- dateExpirationCarteBleuClient: string (nullable = true)
 |-- codeSecuriteCarteBleuClient: integer (nullable = true)
 |-- codeBarProduit: long (nullable = true)
 |-- motDePasseClient: string (nullable = true)
 |-- adresseIPClient: string (nullable = true)
 |-- quantiteAchete: integer (nullable = true)
 |-- prixUnitaire: integer (nullable = true)
 |-- dateAchat: timestamp (nullable = true)
 |-- nomFilialeAyantVendueLeProduit: string (nullable = true)
 |-- row_number: integer (nullable = false)
 |-- ChiffreDDD: integer (nullable = true)

In [25]:
#Cette requête permet de voir la date d'achat des produits des 20 premières lignes
dff7.select(['dateAchat']).show()
#permet de voir le type des données de chaque colonne
dff7.printSchema()
#cette requete nous permet de savoir le code barre du produit le plus acheté 
dff7.select(['codeBarProduit']).show()
#dff7.select(['codeBarProduit']).duplicated() # sans doublons mais ça ne marche pas !

+-------------------+
|          dateAchat|
+-------------------+
|1980-12-31 00:00:00|
|2005-02-07 00:00:00|
|1972-05-09 00:00:00|
|1980-04-01 00:00:00|
|1985-12-07 00:00:00|
|2009-06-14 00:00:00|
|2001-11-21 00:00:00|
|2009-04-18 00:00:00|
|2017-08-01 00:00:00|
|1980-06-13 00:00:00|
|2021-06-24 00:00:00|
|2020-10-24 00:00:00|
|2018-12-28 00:00:00|
|2019-02-14 00:00:00|
|2011-11-02 00:00:00|
|1984-03-13 00:00:00|
|1974-11-23 00:00:00|
|2014-02-04 00:00:00|
|2019-08-21 00:00:00|
|2013-04-17 00:00:00|
+-------------------+
only showing top 20 rows

root
 |-- idTransaction: integer (nullable = true)
 |-- prenomClient: string (nullable = true)
 |-- nomClient: string (nullable = true)
 |-- metierClient: string (nullable = true)
 |-- plaqueImmatriculationClient: string (nullable = true)
 |-- numeroCarteBleuClient: long (nullable = true)
 |-- dateExpirationCarteBleuClient: string (nullable = true)
 |-- codeSecuriteCarteBleuClient: integer (nullable = true)
 |-- codeBarProduit: long (nullable = true)
 |-- motDePasseClient: string (nullable = true)
 |-- adresseIPClient: string (nullable = true)
 |-- quantiteAchete: integer (nullable = true)
 |-- prixUnitaire: integer (nullable = true)
 |-- dateAchat: timestamp (nullable = true)
 |-- nomFilialeAyantVendueLeProduit: string (nullable = true)
 |-- row_number: integer (nullable = false)
 |-- ChiffreDDD: integer (nullable = true)

+--------------+
|codeBarProduit|
+--------------+
| 1452719839898|
| 6590804059921|
| 9011074274557|
| 9202477920268|
| 2670222492457|
| 2677328919970|
|  249035808629|
| 4198330953519|
| 1254006482585|
| 3157923913966|
|  585764669484|
| 2634683599599|
|  156182902882|
| 1388520987773|
| 4275462053840|
| 9743234861818|
| 1162013307237|
|  439440719805|
| 4879799723836|
| 9673588628129|
+--------------+
only showing top 20 rows

In [18]:
#Supprimer une colonne - On a supprimé la colonne du Chiffre d'affaire
dff7.drop('ChiffreDDD')

DataFrame[idTransaction: int, prenomClient: string, nomClient: string, metierClient: string, plaqueImmatriculationClient: string, numeroCarteBleuClient: bigint, dateExpirationCarteBleuClient: string, codeSecuriteCarteBleuClient: int, codeBarProduit: bigint, motDePasseClient: string, adresseIPClient: string, quantiteAchete: int, prixUnitaire: int, dateAchat: timestamp, nomFilialeAyantVendueLeProduit: string, row_number: int]

In [21]:
#Renommer une colonne
dff7.withColumnRenamed('idTransaction', 'idTransactionNouveaunom').select(['idTransactionNouveaunom']).show()

+-----------------------+
|idTransactionNouveaunom|
+-----------------------+
|                      1|
|                      2|
|                      3|
|                      4|
|                      5|
|                      6|
|                      7|
|                      8|
|                      9|
|                     10|
|                     11|
|                     12|
|                     13|
|                     14|
|                     15|
|                     16|
|                     17|
|                     18|
|                     19|
|                     20|
+-----------------------+
only showing top 20 rows

In [22]:
#supprimer les lignes avec des valeurs null
dff7.na.drop().show()

+-------------+------------+---------+--------------------+---------------------------+---------------------+-----------------------------+---------------------------+--------------+--------------------+---------------+--------------+------------+-------------------+------------------------------+----------+----------+
|idTransaction|prenomClient|nomClient|        metierClient|plaqueImmatriculationClient|numeroCarteBleuClient|dateExpirationCarteBleuClient|codeSecuriteCarteBleuClient|codeBarProduit|    motDePasseClient|adresseIPClient|quantiteAchete|prixUnitaire|          dateAchat|nomFilialeAyantVendueLeProduit|row_number|ChiffreDDD|
+-------------+------------+---------+--------------------+---------------------------+---------------------+-----------------------------+---------------------------+--------------+--------------------+---------------+--------------+------------+-------------------+------------------------------+----------+----------+
|      1100765|     Anthony| Gonzales| Animal nutritionist|                    GPA 482|     6535053079899126|                        01/28|                        243| 5550967481886|o445cvlh8ydky8x2s...|  115.15.148.46|            31|           8|1970-01-01 00:00:00|               Hernandez Group|         1|       248|
|      4411883|       Kevin|     Mack|Human resources o...|                    MJN 832|     4671624743880699|                        05/23|                        401| 4834270846244|9ksgx3rteozw3kwju...|   96.48.26.115|            31|          42|1970-01-01 00:00:00|          Smith, Bartlett a...|         2|      1302|
|      3612557|      Sharon|     Kirk|Amenity horticult...|                       323F|     2394319933662979|                        12/31|                       5507| 5757213113410|7w4sf1jgx0oxt4fpa...|   73.235.10.39|            31|          25|1970-01-03 00:00:00|                     King-Vega|         3|       775|
|      4086266|     Kathryn|    Smith|             Barista|                    251 OTM|     6566281701855388|                        08/25|                        479| 8236481228363|kxybm7ffxjx6k5ewh...| 108.63.203.232|            31|          13|1970-01-03 00:00:00|                 Goodman Group|         4|       403|
|      4345096|       Laura|  Barnett|Consulting civil ...|                    MZS-200|        4716347365071|                        04/27|                        479| 1974519323563|eik0xm6jvzi8lvc6v...|   136.4.57.195|            31|           4|1970-01-05 00:00:00|                Galvan-Charles|         5|       124|
|      4817897|     Michele|    Davis|Psychologist, cou...|                    3-6717C|     3562721467924838|                        09/31|                        505| 2468015701226|qfmr89engoc5p4mze...|   24.7.206.244|            31|          28|1970-01-06 00:00:00|                  King-Parrish|         6|       868|
|      1474622|       Laura|   Norman|Clinical molecula...|                    27-L349|        4061750693440|                        12/31|                        536| 3337662029481|wt66z8xfh3x5e5q5j...| 166.81.219.159|            31|          28|1970-01-07 00:00:00|                   Brown-Jones|         7|       868|
|      6423445|        Paul|  Salinas|Armed forces logi...|                    KSP 812|     3535486889776943|                        03/23|                        850| 7500998549886|gfqi00ybv86wotmob...|    25.168.8.38|            31|          41|1970-01-07 00:00:00|                    Garcia LLC|         8|      1271|
|      8463276|       Jacob|    Hardy|        Geoscientist|                    HVW 100|     3516377393072015|                        07/31|                        355| 9256016305696|kku2sge3klnadzi55...| 165.199.126.69|            31|          17|1970-01-08 00:00:00|                     Stone LLC|         9|       527|
|       204511|        Lisa| Crawford|    Sports therapist|                    6BO3932|         676279009945|                        07/26|                        259| 8540796717475|31n2g8v1cdmhi3pw6...| 158.116.35.207|            31|          30|1970-01-09 00:00:00|                   Petty-Blair|        10|       930|
|      4663504|      Vickie|  Pearson|Psychologist, pri...|                    VD 1131|        4369451614445|                        09/30|                        493| 6961681819937|6q7uzpcx9ikmktzum...| 70.139.105.249|            31|          33|1970-01-09 00:00:00|                Lester-Barnett|        11|      1023|
|      5098040|      Olivia|   Stuart| Retail merchandiser|                    ZPH 060|     3598370337522758|                        10/25|                        853| 7912980148173|vla7qoomm3qvx7ddj...| 123.17.136.185|            31|          14|1970-01-09 00:00:00|          Nguyen, Mckenzie ...|        12|       434|
|      5590769|      Andrea|    Burke|Social research o...|                    208 VW3|     4000566596510232|                        08/32|                        950| 1581212720522|gscg9ixrm3syo5807...|  185.162.28.88|            31|          50|1970-01-09 00:00:00|                Reese and Sons|        13|      1550|
|      2310510|      Latoya|   Prince|Scientist, resear...|                    SSN-034|       38927096788724|                        10/25|                       9997| 8910249567009|kuqbiywg2w9pr3l7w...| 107.193.73.115|            31|          47|1970-01-10 00:00:00|                    Pierce PLC|        14|      1457|
|      4300883|        John|   Taylor|Commercial/reside...|                    LO5 B3W|      346316144643254|                        02/32|                        700| 6593148223478|el9p1396abxy7hfvr...| 179.81.163.163|            31|          34|1970-01-10 00:00:00|                    Benton LLC|        15|      1054|
|      4912996|       Jimmy|   Jacobs|  Arts administrator|                    035 JWW|     4589632160584968|                        12/24|                        615| 7514391418670|7ah46kpwc7m2d4s4z...|  93.254.252.42|            31|          38|1970-01-12 00:00:00|                 Turner-Taylor|        16|      1178|
|      7661295|     William|    Nolan|   Financial adviser|                    246 PUU|         676249527745|                        11/27|                        617| 6387761960328|zsskgbgx32ceaqa75...| 133.183.85.147|            31|          27|1970-01-13 00:00:00|               Castro and Sons|        17|       837|
|      6997291|        Erin|    Blair|        Psychiatrist|                    34Q A83|      180039597338664|                        06/26|                        859| 3194231734982|h7hv1uf7ozy7e2ns1...| 203.200.40.210|            31|          34|1970-01-14 00:00:00|          Brandt, Thomas an...|        18|      1054|
|       600953|     Gregory|   Clarke|Surveyor, plannin...|                    936-UVO|      344239201522215|                        09/27|                        937| 7621378278674|jcpj4sd2gv1ke1wkv...| 141.250.158.40|            31|          22|1970-01-15 00:00:00|          Graham, Powell an...|        19|       682|
|      1287004|     Jeffrey|   Rivera|      Radio producer|                    149 1YI|       30183928002151|                        03/30|                        443|  345700699179|9pdhh2fp1osu9v9zg...|137.177.148.213|            31|          27|1970-01-16 00:00:00|          Pacheco, Shields ...|        20|       837|
+-------------+------------+---------+--------------------+---------------------------+---------------------+-----------------------------+---------------------------+--------------+--------------------+---------------+--------------+------------+-------------------+------------------------------+----------+----------+
only showing top 20 rows

In [ ]:
######### MLLIB ########

In [33]:
#à partir d'ici, on va faire des requetes de la librairie spark apache MLlib
from pyspark.sql import SparkSession
from pyspark.ml.regression import LinearRegression
from pyspark.ml.feature import StringIndexer
from pyspark.ml.linalg import Vectors
from pyspark.ml. feature import VectorAssembler
from pyspark.ml.clustering import KMeans

spark = SparkSession.builder.appName("PySpark_MLlib").getOrCreate()
spark

In [34]:
from pyspark.ml.linalg import Vectors
from pyspark.ml. feature import VectorAssembler

In [40]:
#lire le fichier 
dataset_1=spark.read.csv(
    path="spark.dat",
    sep=";",
    header=True,
    quote='"',
    inferSchema=True,)

dataset_1.columns
#selectionner des colonnes avec des nombres entiers
dataset=dataset_1.select(['quantiteAchete','prixUnitaire'])
feat_cols= ['quantiteAchete','prixUnitaire']
dataset.show()

+--------------+------------+
|quantiteAchete|prixUnitaire|
+--------------+------------+
|           198|           9|
|           224|          16|
|           159|           4|
|           263|           3|
|           184|          45|
|           223|          24|
|           363|          24|
|            91|          38|
|           354|          48|
|           163|          41|
|           269|          44|
|           371|          34|
|           499|          25|
|            24|          13|
|           220|           5|
|           187|          30|
|            25|          13|
|           117|          38|
|           245|          26|
|           275|          50|
+--------------+------------+
only showing top 20 rows

In [42]:
#regroupper plusieurs colonnes d'un dataframe en un seule de caractéristiques
vec_assembler = VectorAssembler(inputCols=feat_cols, outputCol='features')
final_data=vec_assembler.transform(dataset)

In [30]:
#Standard Scaler : permet de normaliser les données
from pyspark.ml.feature import StandardScaler

In [31]:
scaler = StandardScaler(inputCol="features", outputCol="scaledFeatures", withStd=True,withMean=False)

In [32]:
scalerModel = scaler.fit(final_data)
cluster_final_data = scalerModel.transform(final_data)
cluster_final_data.show()

+--------------+------------+------------+--------------------+
|quantiteAchete|prixUnitaire|    features|      scaledFeatures|
+--------------+------------+------------+--------------------+
|           198|           9| [198.0,9.0]|[1.37170670925851...|
|           224|          16|[224.0,16.0]|[1.55182981249448...|
|           159|           4| [159.0,4.0]|[1.10152205440456...|
|           263|           3| [263.0,3.0]|[1.82201446734843...|
|           184|          45|[184.0,45.0]|[1.27471734597761...|
|           223|          24|[223.0,24.0]|[1.54490200083156...|
|           363|          24|[363.0,24.0]|[2.51479563364061...|
|            91|          38| [91.0,38.0]|[0.63043086132588...|
|           354|          48|[354.0,48.0]|[2.45244532867432...|
|           163|          41|[163.0,41.0]|[1.12923330105625...|
|           269|          44|[269.0,44.0]|[1.86358133732596...|
|           371|          34|[371.0,34.0]|[2.57021812694399...|
|           499|          25|[499.0,25.0]|[3.45697801979798...|
|            24|          13| [24.0,13.0]|[0.16626747991012...|
|           220|           5| [220.0,5.0]|[1.52411856584279...|
|           187|          30|[187.0,30.0]|[1.29550078096637...|
|            25|          13| [25.0,13.0]|[0.17319529157304...|
|           117|          38|[117.0,38.0]|[0.81055396456185...|
|           245|          26|[245.0,26.0]|[1.69731385741584...|
|           275|          50|[275.0,50.0]|[1.90514820730349...|
+--------------+------------+------------+--------------------+
only showing top 20 rows

In [34]:
kmeans3 = KMeans(featuresCol='scaledFeatures',k=3)
kmeans2 = KMeans(featuresCol='scaledFeatures',k=2)
model_k3 = kmeans3.fit(cluster_final_data)
model_k2 = kmeans2.fit(cluster_final_data)
wssse_k3 =model_k3.transform(cluster_final_data)
wssse_k2 = model_k2.transform(cluster_final_data)
wssse_k3.show()

+--------------+------------+------------+--------------------+----------+
|quantiteAchete|prixUnitaire|    features|      scaledFeatures|prediction|
+--------------+------------+------------+--------------------+----------+
|           198|           9| [198.0,9.0]|[1.37170670925851...|         1|
|           224|          16|[224.0,16.0]|[1.55182981249448...|         1|
|           159|           4| [159.0,4.0]|[1.10152205440456...|         1|
|           263|           3| [263.0,3.0]|[1.82201446734843...|         0|
|           184|          45|[184.0,45.0]|[1.27471734597761...|         2|
|           223|          24|[223.0,24.0]|[1.54490200083156...|         1|
|           363|          24|[363.0,24.0]|[2.51479563364061...|         0|
|            91|          38| [91.0,38.0]|[0.63043086132588...|         2|
|           354|          48|[354.0,48.0]|[2.45244532867432...|         2|
|           163|          41|[163.0,41.0]|[1.12923330105625...|         2|
|           269|          44|[269.0,44.0]|[1.86358133732596...|         2|
|           371|          34|[371.0,34.0]|[2.57021812694399...|         2|
|           499|          25|[499.0,25.0]|[3.45697801979798...|         0|
|            24|          13| [24.0,13.0]|[0.16626747991012...|         1|
|           220|           5| [220.0,5.0]|[1.52411856584279...|         1|
|           187|          30|[187.0,30.0]|[1.29550078096637...|         2|
|            25|          13| [25.0,13.0]|[0.17319529157304...|         1|
|           117|          38|[117.0,38.0]|[0.81055396456185...|         2|
|           245|          26|[245.0,26.0]|[1.69731385741584...|         2|
|           275|          50|[275.0,50.0]|[1.90514820730349...|         2|
+--------------+------------+------------+--------------------+----------+
only showing top 20 rows

In [43]:
print("with K=3")
print("within Set Sun Squared Errore= "+ str(wssse_k3))

print("with K=2")
print("within Set Sum of Squared Errors a "+ str(wssse_k2))

with K=3
within Set Sun Squared Errore= DataFrame[quantiteAchete: int, prixUnitaire: int, features: vector, scaledFeatures: vector, prediction: int]
with K=2
within Set Sum of Squared Errors a DataFrame[quantiteAchete: int, prixUnitaire: int, features: vector, scaledFeatures: vector, prediction: int]

In [40]:
from pyspark.ml.clustering import KMeans

# Charger les données
data = spark.read.format("libsvm").load("spark.dat")

# Initialiser l'algorithme K-Means
kmeans = KMeans(k=3, seed=1)

# Ajuster l'algorithme K-Means sur les données
model = kmeans.fit(data)

# Prédire les clusters pour les données
predictions = model.transform(data)

# Afficher les résultats
predictions.show()

Py4JJavaError: An error occurred while calling o523.load.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 4 in stage 249.0 failed 1 times, most recent failure: Lost task 4.0 in stage 249.0 (TID 3208) (LAPTOP-RAGD177R executor driver): java.lang.NumberFormatException: For input string: "2928346;Christopher;Prince;Magazine"
	at java.base/jdk.internal.math.FloatingDecimal.readJavaFormatString(FloatingDecimal.java:2054)
	at java.base/jdk.internal.math.FloatingDecimal.parseDouble(FloatingDecimal.java:110)
	at java.base/java.lang.Double.parseDouble(Double.java:543)
	at scala.collection.immutable.StringLike.toDouble(StringLike.scala:321)
	at scala.collection.immutable.StringLike.toDouble$(StringLike.scala:321)
	at scala.collection.immutable.StringOps.toDouble(StringOps.scala:33)
	at org.apache.spark.mllib.util.MLUtils$.parseLibSVMRecord(MLUtils.scala:131)
	at org.apache.spark.mllib.util.MLUtils$.$anonfun$parseLibSVMFile$4(MLUtils.scala:126)
	at scala.collection.Iterator$$anon$10.next(Iterator.scala:461)
	at scala.collection.Iterator$$anon$10.next(Iterator.scala:461)
	at scala.collection.Iterator.foreach(Iterator.scala:943)
	at scala.collection.Iterator.foreach$(Iterator.scala:943)
	at scala.collection.AbstractIterator.foreach(Iterator.scala:1431)
	at scala.collection.TraversableOnce.reduceLeft(TraversableOnce.scala:237)
	at scala.collection.TraversableOnce.reduceLeft$(TraversableOnce.scala:220)
	at scala.collection.AbstractIterator.reduceLeft(Iterator.scala:1431)
	at org.apache.spark.rdd.RDD.$anonfun$reduce$2(RDD.scala:1097)
	at org.apache.spark.SparkContext.$anonfun$runJob$6(SparkContext.scala:2322)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:136)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:548)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1504)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:551)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)
	at java.base/java.lang.Thread.run(Thread.java:834)

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.failJobAndIndependentStages(DAGScheduler.scala:2672)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2(DAGScheduler.scala:2608)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2$adapted(DAGScheduler.scala:2607)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:2607)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1(DAGScheduler.scala:1182)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1$adapted(DAGScheduler.scala:1182)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:1182)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:2860)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2802)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2791)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:952)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2228)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2323)
	at org.apache.spark.rdd.RDD.$anonfun$reduce$1(RDD.scala:1111)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:406)
	at org.apache.spark.rdd.RDD.reduce(RDD.scala:1093)
	at org.apache.spark.mllib.util.MLUtils$.computeNumFeatures(MLUtils.scala:94)
	at org.apache.spark.ml.source.libsvm.LibSVMFileFormat.$anonfun$inferSchema$1(LibSVMRelation.scala:105)
	at scala.runtime.java8.JFunction0$mcI$sp.apply(JFunction0$mcI$sp.java:23)
	at scala.Option.getOrElse(Option.scala:189)
	at org.apache.spark.ml.source.libsvm.LibSVMFileFormat.inferSchema(LibSVMRelation.scala:96)
	at org.apache.spark.sql.execution.datasources.DataSource.$anonfun$getOrInferFileFormatSchema$11(DataSource.scala:210)
	at scala.Option.orElse(Option.scala:447)
	at org.apache.spark.sql.execution.datasources.DataSource.getOrInferFileFormatSchema(DataSource.scala:207)
	at org.apache.spark.sql.execution.datasources.DataSource.resolveRelation(DataSource.scala:411)
	at org.apache.spark.sql.DataFrameReader.loadV1Source(DataFrameReader.scala:228)
	at org.apache.spark.sql.DataFrameReader.$anonfun$load$2(DataFrameReader.scala:210)
	at scala.Option.getOrElse(Option.scala:189)
	at org.apache.spark.sql.DataFrameReader.load(DataFrameReader.scala:210)
	at org.apache.spark.sql.DataFrameReader.load(DataFrameReader.scala:185)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:566)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:834)
Caused by: java.lang.NumberFormatException: For input string: "2928346;Christopher;Prince;Magazine"
	at java.base/jdk.internal.math.FloatingDecimal.readJavaFormatString(FloatingDecimal.java:2054)
	at java.base/jdk.internal.math.FloatingDecimal.parseDouble(FloatingDecimal.java:110)
	at java.base/java.lang.Double.parseDouble(Double.java:543)
	at scala.collection.immutable.StringLike.toDouble(StringLike.scala:321)
	at scala.collection.immutable.StringLike.toDouble$(StringLike.scala:321)
	at scala.collection.immutable.StringOps.toDouble(StringOps.scala:33)
	at org.apache.spark.mllib.util.MLUtils$.parseLibSVMRecord(MLUtils.scala:131)
	at org.apache.spark.mllib.util.MLUtils$.$anonfun$parseLibSVMFile$4(MLUtils.scala:126)
	at scala.collection.Iterator$$anon$10.next(Iterator.scala:461)
	at scala.collection.Iterator$$anon$10.next(Iterator.scala:461)
	at scala.collection.Iterator.foreach(Iterator.scala:943)
	at scala.collection.Iterator.foreach$(Iterator.scala:943)
	at scala.collection.AbstractIterator.foreach(Iterator.scala:1431)
	at scala.collection.TraversableOnce.reduceLeft(TraversableOnce.scala:237)
	at scala.collection.TraversableOnce.reduceLeft$(TraversableOnce.scala:220)
	at scala.collection.AbstractIterator.reduceLeft(Iterator.scala:1431)
	at org.apache.spark.rdd.RDD.$anonfun$reduce$2(RDD.scala:1097)
	at org.apache.spark.SparkContext.$anonfun$runJob$6(SparkContext.scala:2322)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:136)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:548)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1504)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:551)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)
	... 1 more

In [49]:
from pyspark.ml.classification import LogisticRegression
dataset_1=spark.read.csv(
    path="spark.dat",
    sep=";",
    header=True,
    quote='"',
    inferSchema=True,
)
dataset=dataset_1.select(['quantiteAchete','prixUnitaire'])

trainingData,testData = dataset.randomSplit([0.7, 0.3], seed=1)

# Initialiser l'algorithme de régression logistique
lr = LogisticRegression(maxIter=10, regParam=0.3, elasticNetParam=0.8)

# Ajuster l'algorithme de régression logistique sur les données d'entraînement
modele = lr.fit(dataset)

# Prédire les résultats sur les données de test
predictions_1 = modele.transform(testData)

# Afficher les résultats
predictions_1.show()

IllegalArgumentException: features does not exist. Available: quantiteAchete, prixUnitaire

In [50]:
trainingData,testData = dataset.randomSplit([0.7, 0.3], seed=1)

In [51]:
# Initialiser l'algorithme de régression logistique
lr = LogisticRegression(maxIter=10, regParam=0.3, elasticNetParam=0.8)

In [54]:
# Ajuster l'algorithme de régression logistique sur les données d'entraînement
modele = lr.fit(dataset)

IllegalArgumentException: features does not exist. Available: quantiteAchete, prixUnitaire

In [56]:
###### GRAPH X ######

from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession
from graphframes import GraphFrame
from pyspark.sql.functions import *
from pyspark.sql.types import *

NameError: name 'GraphLoader' is not defined

In [44]:
#Charger un graphe depuis un fichier
val_graph = GraphLoader.edgeListFile(spark, "spark.dat")

NameError: name 'SparkConf' is not defined

In [ ]:
#Opérations de filtrage sur les sommets
val_graph = GraphLoader.edgeListFile(spark, "path/to/edge_list_file")

In [ ]:
#Opétions de filtrage sur les arrêtes
val filteredAretes = graph.edges.filter(e => e._attr >= 5)

In [ ]:
#Compter le nombre de sommets et d'arrêtes 
val vertexCount = graph.vertices.count # Sommet
val edgeCount = graph.edges.count #arrêtes

In [ ]:
#Trouver le degré moyen de sommets
val avgDegree = graph.degrees.map(_._2).reduce(_ + _) / vertexCount

In [ ]:
#Trouver le nombre de composantes connexes
val connectedComponents = graph.connectedComponents.vertices.map(_._2).countByValue

In [ ]:
#Trouver le plus court chemin entre 2 sommets
val sources = Seq(1, 2)
val destinations = Seq(10, 20)
val distances = graph.shortestPaths.sources(sources).destinations(destinations).run

In [ ]:
#trouver les noeuds ayant le plus grand nombre de voisins
graph.degrees.sortBy(_._2, ascending=false).take(10)